#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.life-bar-container {
  width: 100px;
  height: 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 5px auto;
  position: relative;
}

.life-bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s;
}

.pokemon-list {
  list-style: none;
}

.poke-tab-name {
  width: fit-content;
  border: 2.5px solid white;
}

.poke-tab {
  padding-bottom: 12px;
}

.dropdown-pokemons a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-pokemons {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.pokemonLogoImage {
  height: 20rem;
}

.mainPageContent {
  display: flex;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: -5rem;
}

.pokemon-sprites {
  display: flex;
  justify-content: space-around;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.fightButton {
  background-color: red;  
}

.backButton {
  background-color: blue;
}

.moves-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}